<style>
    body {
        margin: 0;
        font-family: Arial, sans-serif;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 60px;
        background-color: #084461;
        position: fixed;
        height: 100%;
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    li {
        margin: 15px 0;
    }

    li a {
        display: flex;
        justify-content: center; 
        align-items: center;
        width: 100%;
        height: 50px;
        color: #fff;
        text-decoration: none;
    }

    li a:hover {
        background-color: #094b6c;
        color: white;
    }

    /* Estilos específicos para las imágenes del sidebar */
    .sidebar-icon {
        max-width: 30px;
        max-height: 30px;
    }

    .content {
        margin-left: 80px;
        padding: 20px;
    }
</style>


<ul>
    <li>
        <a href="<%= process.env.PATH_SERVER %>users/main">
            <img class="sidebar-icon" id="btn1" src="<%= process.env.PATH_SERVER %>images/DB_S_ICON.png" alt="Duperbrand_logo">
        </a>          
    </li>      
    <li>
        <a href="<%= process.env.PATH_SERVER %>empleado/empleados">
            <img class="sidebar-icon" id="btn2" src="<%= process.env.PATH_SERVER %>images/EMP_ICON.png" alt="empleado_logo">
        </a>          
    </li>
    <li>
        <a href="<%= process.env.PATH_SERVER %>cliente/clientes">
            <img class="sidebar-icon" id="btn3" src="<%= process.env.PATH_SERVER %>images/CLI_ICON.png" alt="cliente_logo">
        </a>  
    </li>
    <li>
        <a href="<%= process.env.PATH_SERVER %>tarjetas">
            <img class="sidebar-icon" id="btn4" src="<%= process.env.PATH_SERVER %>images/TJ_ICON.png" alt="tarjeta_logo">
        </a>  
    </li>
    <li>
        <a href="<%= process.env.PATH_SERVER %>promociones">
            <img class="sidebar-icon" id="btn5" src="<%= process.env.PATH_SERVER %>images/PRO_ICON.png" alt="Promo_logo">
        </a>  
    </li>
    <li>
        <a href="<%= process.env.PATH_SERVER %>reportes">
            <img class="sidebar-icon" id="btn6" src="<%= process.env.PATH_SERVER %>images/REP_ICON.png" alt="Graf_logo">
        </a>  
    </li>
    <li>
        <a href="<%= process.env.PATH_SERVER %>establecimientos">
            <img class="sidebar-icon" id="btn7" src="<%= process.env.PATH_SERVER %>images/Tien_Icon.png" alt="sucursales_logo">
        </a>  
    </li>
</ul>
