<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('includes/head') %> 
    <title>Lista de Clientes</title>
</head>
<body>

    <%- include('includes/sidebar') %>

    <style>
        .box-centered {
            width: 80%; 
            max-width: 1200px; 
            margin: 50px auto; 
            padding: 20px;
        }

        .list-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0; 
            border-bottom: 1px solid #e5e5e5;
        }

        .worker-name {
            flex-grow: 1;
            margin-right: 20px;
        }

        .edit-button {
            margin-left: auto;
        }

        .popup {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            padding: 20px;
            background-color: white;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            max-width: 500px;
            width: 200%;
        }

        .popup-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 999;
            display: none;
        }
    </style>

    <!-- contenedor principal -->
    <div class="container">
        <section class="section">
            <div class="box box-centered"> 
                <h1 class="title">Clientes</h1>

                <!-- barra de busqueda -->
                <div class="field has-addons">
                    <div class="control has-icons-left is-expanded">
                        <input class="input" type="text" placeholder="Buscar">
                        <span class="icon is-small is-left">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                </div>

                <!-- lista de clientes con boton de mas informacion -->
                <div class="list">
                    <% for (let i = 0; i < Clientes.length; i++) { %>
                        <div class="list-item">
                            <span class="worker-name"><%= Clientes[i].Nombre_Cliente %></span>
                            <button class="button is-small is-link is-light edit-button" 
                                    onclick="mostrarPopup('<%= Clientes[i].Nombre_Cliente %>', '<%= Clientes[i].ID_Cliente %>', '<%= Clientes[i].Telefono_Cliente %>',
                                     '<%= Clientes[i].Fecha_Nac %>', '<%= Clientes[i].Sexo %>', '<%= Clientes[i].ID_Tarjeta %>', '<%= Clientes[i].Version %>', '<%= Clientes[i].Numero_Sellos %>')">más información</button>
                        </div>
                    <% } %>
                </div>
            </div>
        </section>
    </div>
    
    <!-- Boton para añadir Clientes -->
    <div class="has-text-centered mt-5">
        <button class="button is-success is-medium" id="addClientBtn">Añadir</button>
    </div>

    <!-- Modal para añadir clientes -->
    <div class="modal" id="addcliente">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Añadir Clientes</p>
                <button class="delete" aria-label="close" id="closeModalBtn"></button>
            </header>
            <section class="modal-card-body">
                <form id="formularioCliente" action="/cliente/clientes/nuevo" method="POST">
                    <div class="field">
                        <label class="label">Nombre del cliente</label>
                        <div class="control">
                            <input class="input" type="text" name="nombre" placeholder="Nombre" required>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Teléfono</label>
                        <div class="control">
                            <input class="input" type="tel" name="telefono" placeholder="Teléfono" required>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Fecha de nacimiento</label>
                        <div class="control">
                            <input class="input" type="date" name="FechaNac" placeholder="Fecha de nacimiento" required>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Sexo</label>
                        <div class="control">
                            <div class="select">
                                <select name="sexo" required>
                                    <option value="">Seleccione una opción</option>
                                    <option value="M">M</option>
                                    <option value="F">F</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <footer class="modal-card-foot">
                        <button class="button is-success">Guardar</button>
                    </footer>
                </form>
            </section>
        </div>
    </div>

    <!-- Pop-up -->
    <div class="popup box" id="miPopup" style="display:none;">
        <button id="cerrarPopup" class="delete" style="position: absolute; top: 10px; right: 10px;"></button>
        <h2 class="title is-4 has-text-link">Detalles de cuenta</h2>
        <p><strong>Nombre:</strong> <span id="popupNombre"></span></p>
        <p><strong>ID:</strong> <span id="popupID"></span></p>
        <p><strong>Teléfono:</strong> <span id="popupTelefono"></span></p>
        <p><strong>Fecha de nacimiento:</strong> <span id="popupFecha"></span></p>
        <p><strong>Sexo:</strong> <span id="popupSexo"></span></p>
        <p><strong>ID Tarjeta:</strong> <span id="popupTarjeta"></span></p>
        <p><strong>version:</strong> <span id="popupVersion"></span></p>
        <p><strong>Sellos totales:</strong> <span id="popupSellos"></span></p>
        <button id="editarPopup" class="button is-link is-fullwidth mt-4">Editar</button>
    </div>

    <!-- Popup de Edición -->
    <div class="popup box" id="editarMiPopup" style="display:none;">
        <button id="cerrarEditarPopup" class="delete" style="position: absolute; top: 10px; right: 10px;"></button>
        <h2 class="title is-4 has-text-link">Editar detalles</h2>
        <div class="field">
            <label class="label">Nombre</label>
            <div class="control">
                <input id="editarNombre" class="input" type="text" value="">
            </div>
        </div>
        <div class="field">
            <label class="label">Teléfono</label>
            <div class="control">
                <input id="editarTelefono" class="input" type="text" value="">
            </div>
        </div>
        <div class="field">
            <label class="label">Fecha de nacimiento</label>
            <div class="control">
                <input id="editarFecha" class="input" type="date" value="">
            </div>
        </div>
        <div class="field">
            <label class="label">Sexo</label>
            <div class="control">
                <input id="editarSexo" class="input" type="text" value="">
            </div>
        </div>
        <button id="guardarCambios" class="button is-success is-fullwidth mt-4">Guardar Cambios</button>
    </div>

    <script>
        
        function mostrarPopup(nombre, id, telefono, fecha, sexo, tarjeta, version, sellos) {
            document.getElementById('popupNombre').textContent = nombre;
            document.getElementById('popupID').textContent = id;
            document.getElementById('popupTelefono').textContent = telefono;

            let fechaObj = new Date(fecha);
            let dia = fechaObj.getDate();
            let mes = fechaObj.getMonth() + 1; 
            let año = fechaObj.getFullYear();
            let fechaFormateada = `${dia}/${mes}/${año}`;
            document.getElementById('popupFecha').textContent = fechaFormateada;

            document.getElementById('popupSexo').textContent = sexo;
            document.getElementById('popupTarjeta').textContent = tarjeta;
            document.getElementById('popupVersion').textContent = version;
            document.getElementById('popupSellos').textContent = sellos;

            document.getElementById('miPopup').style.display = 'block';
        }

        // Cerrar el pop-up
        document.getElementById('cerrarPopup').addEventListener('click', function() {
            document.getElementById('miPopup').style.display = 'none';
        });

        // Abrir el popup de edición
        document.getElementById("editarPopup").addEventListener("click", function() {
            document.getElementById("editarMiPopup").style.display = "block";
            document.getElementById("editarNombre").value = document.getElementById("popupNombre").innerText;
            document.getElementById("editarTelefono").value = document.getElementById("popupTelefono").innerText;
            document.getElementById("editarFecha").value = document.getElementById("popupFecha").innerText;
            document.getElementById("editarSexo").value = document.getElementById("popupSexo").innerText;
        });

        // Cerrar popup de edición
        document.getElementById("cerrarEditarPopup").addEventListener("click", function() {
            document.getElementById("editarMiPopup").style.display = "none";
        });

        // Guardar cambios
        document.getElementById("guardarCambios").addEventListener("click", function() {
            document.getElementById("popupNombre").innerText = document.getElementById("editarNombre").value;
            document.getElementById("popupTelefono").innerText = document.getElementById("editarTelefono").value;
            document.getElementById("popupFecha").innerText = document.getElementById("editarFecha").value;
            document.getElementById("popupSexo").innerText = document.getElementById("editarSexo").value;
            document.getElementById("editarMiPopup").style.display = "none";
        });

        // Funcionalidad para añadir clientes
        const addClientBtn = document.getElementById('addClientBtn');
        const addClientModal = document.getElementById('addcliente');
        const closeModalBtn = document.getElementById('closeModalBtn');

        addClientBtn.addEventListener('click', () => {
            addClientModal.classList.add('is-active');
        });

        closeModalBtn.addEventListener('click', () => {
            addClientModal.classList.remove('is-active');
        });
    </script>
    <%- include('includes/footer') %>
</body>
</html>
