<!DOCTYPE html>
<html lang="es">
<head>
    <title>Versiones de Tarjetas</title>
    <%- include('includes/head') %>
    <style>
        /* Estilo para centrar y agrandar el recuadro */
        .box-centered {
            width: 80%;
            max-width: 1200px;
            margin: 50px auto;
            padding: 20px;
        }
    
        /* Contenedor que incluye el modal y la tarjeta */
        .popup-card-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            padding: 20px;
            background-color: white;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            max-width: 900px; /* Ajuste de tamaño */
            width: 100%;
        }
    
        .popup {
            position: relative;
            max-width: 400px;
        }
    
        /* Estilo de la tarjeta */
        .card {
            position: relative;
            width: 350px;
            height: 220px; /* Aumento de altura para un mejor ajuste */
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            perspective: 1000px;
            overflow: hidden;
        }
    
        /* Contenedor interno de la tarjeta para animación de giro */
        .card-inner {
            width: 100%;
            height: 100%;
            position: relative;
            transform-style: preserve-3d;
            transition: transform 0.8s;
        }
    
        .card.flipped .card-inner {
            transform: rotateY(180deg);
        }
    
    
        /* Contenido de la tarjeta */
        .front, .back {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            padding: 20px 30px;
            backface-visibility: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    
        .front {
            z-index: 2;
            transform: rotateY(0deg);
        }
    
        .back {
            transform: rotateY(180deg);
            background-image: linear-gradient(45deg, #ff7c5c, #32a852);
        }
    
        /* Texto de la tarjeta, ajustado para una mejor legibilidad */
        .card-content {
            z-index: 1;
            color: white;
            font-size: 24px;
            text-align: center;
        }

        .map-img {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.3;
            z-index: -1;
        }

        /* Estilo para el logo db en la tarjeta */
        .imgFondo {
            position: absolute;
            top: 10px;  /* Posición superior */
            left: 10px;  /* Posición a la izquierda */
            width: 50px;  /* Ajuste de tamaño pequeño */
            height: auto; /* Mantiene la proporción */
            z-index: 10;  /* Asegúrate de que esté encima de otros elementos */
            opacity: 1;   /* Sin opacidad */
        }
    
        /* Estilo para cada línea de contenido de la tarjeta */
        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            font-size: 18px; /* Ajuste del tamaño del texto */
            color: #fff; /* Color del texto */
        }
    
        .card-holder {
            font-size: 12px;
            margin-top: 40px;
        }

        /* Asegúrate de que los elementos dentro de la tarjeta tengan un buen espaciado */
        .row.card-no, .row.name {
            margin-top: 10px;
        }
    
        /* Sello estilo para la parte trasera de la tarjeta */
        .stamps-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr); /* 4 columnas */
            grid-gap: 10px;
            justify-items: center;
            align-items: center;
            height: 100%;
        }
    
        .stamp {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.5);
            border: 2px solid white;
        }
    
        /* Encabezado del popup */
        .popup-header {
            text-align: center;
            margin-bottom: 20px;
        }

        /* Estilo para el logo "DB" en la tarjeta */

    </style>
    
</head>
<body>

<%- include('includes/sidebar') %>

<div class="container">
    <section class="section">
        <div class="box box-centered">
            <h1 class="title has-text-centered">Versiones de Tarjetas</h1>

            <!-- Tabla de versiones -->
            <table class="table is-fullwidth is-striped is-hoverable">
                <thead>
                    <tr>
                        <th>Versión</th>
                        <th>Promoción 1</th>
                        <th>Promoción 2</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% versiones.forEach(function(version) { %>
                        <tr>
                            <td><%= version.numero %></td>
                            <td><%= version.promo1 %></td>
                            <td><%= version.promo2 %></td>
                            <td>
                                <button class="button is-small is-link is-light edit-button" 
                                    onclick="mostrarPopupEditar('<%= version.numero %>', 
                                            '<%= version.promo1 %>', 
                                            '<%= version.promo2 %>', 
                                            '<%= version.color %>',
                                            '<%= version.imagen %>')">Editar</button>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <!-- Agrega el botón "Nueva Versión" en la parte inferior -->
        <div class="container has-text-centered">
            <button class="button is-success is-medium" id="new-version-btn">Nueva Versión</button>
        </div>
    </section>
</div>

<!-- Contenedor del popup y la tarjeta -->
<div id="popup-container" class="popup-card-container" style="display: none;">
    <!-- Modal de edición -->
    <div class="popup">
        <header class="popup-header">
            <h2>Editar Versión</h2>
            <!-- Botón de cerrar -->
            <button id="close-popup" style="position: absolute; top: 10px; right: 10px; background: none; border: none; font-size: 20px; cursor: pointer;">&times;</button>
        </header>
        <form id="edit-form" action="<%= process.env.PATH_SERVER %>version/update" method="POST">
            <div class="field">
                <label class="label">Número de Versión</label>
                <div class="control">
                    <input class="input" type="text" id="version" name="version" value="" readonly>
                </div>
            </div>

            <div class="field">
                <label class="label">Promoción 1</label>
                <div class="control">
                    <div class="select">
                        <select id="promo1" name="promo1">
                            <% promociones.forEach(function(promo) { %>
                                <option value="<%= promo.ID_Recompensa %>"><%= promo.Nombre_Recompensa %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Promoción 2</label>
                <div class="control">
                    <div class="select">
                        <select id="promo2" name="promo2">
                            <% promociones.forEach(function(promo) { %>
                                <option value="<%= promo.ID_Recompensa %>"><%= promo.Nombre_Recompensa %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Color de Fondo</label>
                <input type="color" id="color-picker" name="color" value="#217158">
            </div>

            <div class="control">
                <button type="submit" class="button is-success">Guardar Cambios</button>
            </div>
        </form>
    </div>

    <!-- Tarjeta restaurada al lado derecho del modal -->
    <div class="card-container">
        <div class="card" id="flip-card">
            <div class="card-inner">
                <div class="front" id="card-front" style="background-color: <%= versiones.color %>;">
                    <img src="<%= process.env.PATH_SERVER %><%= versiones.imagen %>" id="front-image" class="map-img">
                    <div class="row">
                        <img src="<%= process.env.PATH_SERVER %>images/DB_S_ICON.png" class="imgFondo" width="60px">
                    </div>
                    <div class="row card-no">
                        <p>1234567890</p>
                    </div>
                    <div class="row card-holder">
                        <p>CARD HOLDER</p>
                        <p>nombre de sucursal</p>
                    </div>
                    <div class="row name">
                        <p>joe alison</p>
                        <p>chilakos</p>
                    </div>
                </div>
                <div class="back">
                    <div class="stamps-container">
                        <!-- Sellos de la tarjeta restaurados -->
                        <div class="stamp"></div>
                        <div class="stamp"></div>
                        <div class="stamp"></div>
                        <div class="stamp"></div>
                        <div class="stamp"></div>
                        <div class="stamp"></div>
                        <div class="stamp"></div>
                        <div class="stamp"></div>
                        <div class="stamp"></div>
                        <div class="stamp"></div>
                        <div class="stamp"></div>
                        <div class="stamp"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Contenedor del popup y la tarjeta (Nueva Versión) -->
<div id="popup-container1" class="popup-card-container" style="display: none;">
    <!-- Modal de creación -->
    <div class="popup">
        <header class="popup-header">
            <h2 id="popup-title">Crear Nueva Versión</h2>
            <!-- Botón de cerrar -->
            <button id="close-popup1" style="position: absolute; top: 10px; right: 10px; background: none; border: none; font-size: 20px; cursor: pointer;">&times;</button>
        </header>
        <form id="create-form" action="<%= process.env.PATH_SERVER %>version/create" method="POST" enctype="multipart/form-data">
            <!-- Campo oculto para la imagen -->
            <div class="field" style="display: none;">
                <label class="label">Imagen</label>
                <div class="control">
                    <input class="input" type="text" id="image-create" name="image" value="images/fondos/chilaquiles_sinfondo.png"> 
                </div>
            </div>
        
            <div class="field">
                <label class="label">Promoción 1</label>
                <div class="control">
                    <div class="select">
                        <select id="promo1-create" name="promo1" required>
                            <% promociones.forEach(function(promo) { %>
                                <option value="<%= promo.ID_Recompensa %>"><%= promo.Nombre_Recompensa %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
            </div>
        
            <div class="field">
                <label class="label">Promoción 2</label>
                <div class="control">
                    <div class="select">
                        <select id="promo2-create" name="promo2" required>
                            <% promociones.forEach(function(promo) { %>
                                <option value="<%= promo.ID_Recompensa %>"><%= promo.Nombre_Recompensa %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
            </div>
        
            <div class="field">
                <label class="label">Color de Fondo</label>
                <input type="color" id="color-picker-create" name="color" value="#217158"> <!-- Valor por defecto -->
            </div>
        
            <div class="control">
                <button type="submit" class="button is-success1">Guardar Cambios</button>
            </div>
        </form>
        
    </div>

    <!-- Tarjeta restaurada al lado derecho del modal (Nueva Versión) -->
    <div class="card-container">
        <div class="card" id="flip-card-create">
            <div class="card-inner">
                <div class="front" id="card-front-create" style="background-color: #217158;"> <!-- Valor por defecto -->
                    <img src="<%= process.env.PATH_SERVER %>images/fondos/chilaquiles_sinfondo.png" class="map-img">
                    <img src="<%= process.env.PATH_SERVER %>images/DB_S_ICON.png" class="imgFondo">
                    <div class="row card-no">
                        <p>1234567890</p>
                    </div>
                    <div class="row card-holder">
                        <p>CARD HOLDER</p>
                        <p>nombre de sucursal</p>
                    </div>
                    <div class="row name">
                        <p>joe alison</p>
                        <p>chilakos</p>
                    </div>
                </div>
                <div class="back">
                    <div class="stamps-container">
                        <!-- Sellos de la tarjeta restaurados -->
                        <div class="stamp"></div>
                        <div class="stamp"></div>
                        <div class="stamp"></div>
                        <div class="stamp"></div>
                        <div class="stamp"></div>
                        <div class="stamp"></div>
                        <div class="stamp"></div>
                        <div class="stamp"></div>
                        <div class="stamp"></div>
                        <div class="stamp"></div>
                        <div class="stamp"></div>
                        <div class="stamp"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    // Esperar a que el DOM esté completamente cargado
    document.addEventListener('DOMContentLoaded', function() {

        // Verificar que el elemento flip-card exista antes de agregar el evento
        const flipCard = document.getElementById('flip-card');
        if (flipCard) {
            flipCard.addEventListener('click', function () {
                flipCard.classList.toggle('flipped');
            });
        } else {
            console.error('Elemento flip-card no encontrado');
        }

        // Función para mostrar el popup de edición con los datos de la versión seleccionada
        function mostrarPopupEditar(numero, promo1, promo2, color, imagen) {
            // Mostrar el popup
            const popupContainer = document.getElementById('popup-container');
            if (popupContainer) {
                popupContainer.style.display = 'flex';
            }

            // Rellenar el formulario con los datos de la versión
            const versionField = document.getElementById('version');
            const promo1Field = document.getElementById('promo1');
            const promo2Field = document.getElementById('promo2');
            const colorPicker = document.getElementById('color-picker');
            const cardImage = document.getElementById('front-image');
            const cardFront = document.getElementById('card-front');

            if (versionField) versionField.value = numero;
            if (promo1Field) promo1Field.value = promo1;
            if (promo2Field) promo2Field.value = promo2;
            if (colorPicker) colorPicker.value = color;

            // Cambiar la imagen y el color de fondo de la tarjeta si los elementos existen
            if (cardImage) {
                cardImage.src = imagen;
            } else {
                console.error('Elemento front-image no encontrado');
            }

            if (cardFront) {
                cardFront.style.backgroundColor = color;
            } else {
                console.error('Elemento card-front no encontrado');
            }
        }

        // Cambiar el color de fondo de la tarjeta mientras se edita
        const colorPicker = document.getElementById('color-picker');
        if (colorPicker) {
            colorPicker.addEventListener('input', function () {
                const cardFront = document.getElementById('card-front');
                if (cardFront) {
                    cardFront.style.backgroundColor = colorPicker.value;
                }
            });
        } else {
            console.error('Elemento color-picker no encontrado');
        }

        // Evento para cerrar el popup cuando se hace clic en la "X"
        const closePopupButton = document.getElementById('close-popup');
        if (closePopupButton) {
            closePopupButton.addEventListener('click', function () {
                const popupContainer = document.getElementById('popup-container');
                if (popupContainer) {
                    popupContainer.style.display = 'none';
                }
            });
        } else {
            console.error('Botón de cerrar popup no encontrado');
        }

        // Exponer la función mostrarPopupEditar globalmente para poder ser llamada por botones de edición
        window.mostrarPopupEditar = mostrarPopupEditar;
    });

    
    // Función para cerrar el popup de nueva versión
document.getElementById('close-popup1').addEventListener('click', function () {
    document.getElementById('popup-container1').style.display = 'none';
});

// Mostrar el popup de "Nueva Versión" y limpiar los valores del formulario
document.getElementById('new-version-btn').addEventListener('click', function () {
    const popupContainer = document.getElementById('popup-container1');
    popupContainer.style.display = 'flex';

    // Limpiar valores del formulario y restablecer color e imagen de la tarjeta
    document.getElementById('promo1-create').value = '';  
    document.getElementById('promo2-create').value = '';  
    document.getElementById('color-picker-create').value = '#217158'; 
    document.getElementById('card-front-create').style.backgroundColor = '#217158'; 

});

// Girar la tarjeta al hacer clic (para la nueva versión)
document.querySelectorAll('#flip-card-create').forEach(function(card) {
    card.addEventListener('click', function () {
        card.classList.toggle('flipped');
    });
});

// Cambiar el color de fondo de la tarjeta mientras se edita (para la nueva versión)
document.getElementById('color-picker-create').addEventListener('input', function () {
    document.getElementById('card-front-create').style.backgroundColor = this.value;
});



</script>



<%- include('includes/footer') %>
</body>
</html>
